@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-primary: #064232;
  --color-secondary: #568F87;
  --color-primary-content: #DDF6D2;
  --color-secondary-content: #ECFAE5;
  --color-navbarBg: #F8FAFC;
  --color-pageBg: #F1F5F9; */
}

.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a.active {
  @apply bg-primary/70 transition-all scale-105 text-white
}

